<%= javascript_include_tag :record %>

<div class="song-home">
  <div class="recorder">
    <div class="center">  
      <div class="song-info">
        <header>
          <h3 class="song-name" data-user="<%= @current_user.nil? ? "anon" : "#{@current_user.username}" %>" data-tracks="<%= @song.tracks.length %>" data-song-id="<%= @song.id %>"><%= @song.name %></h3>
        </header>
      </div>

      <div id="controls">
        <a id="record-button" class="record-button" onclick="toggleRecording(this);">
        </a> 
      </div>
    </div>
  </div>
</div>