<%= javascript_include_tag :buffer_animation %>
<%= javascript_include_tag :playback %>

<div class="song-home">
  <div class="recorder">
    <div class="center">  

      <header>
        <h3 class="song-name"><%= @song.name %></h3>
      </header>

      <div id="controls">
        <%= (link_to "+", new_song_track_path(@song), class: "add-button") if @song.users.include?(@current_user) %>
        <a id="play-button" class="play-button"></a> 
      </div>

      <div class="all-collaborators">
        <p class="standard">colaborators:</p>
        <ul>
          <% @song.users.each do |user| %>
            <li><%= link_to user.username, user_path(user) %></li>
          <% end %>
        </ul>
        <li><%= link_to "new collaborator", new_song_collaborator_path(@song)%></li>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "error-message small" %>
        <% end -%>
      </div>
    </div>
  </div>

  <% @song.tracks.each do |track| %>
    <% unless track.removed == true %>
      <div class="track">
        <h4 class="username"><%= track.user.username %></h4>
        <img class="avatar" src="http://placekitten.com/60/60" alt="">
        <input name="checkbox_name" id="<%= track.id %>" type="checkbox" data-checked="true" data-url="<%= track.url %>" checked>
        <div class="progress">
          <span class="percent"></span>
          <div class="bar" style= "width: 30%;"></div>
        </div>
        <%= link_to "<img width=15 height=15 class='trash-can-button' src='https://s3-us-west-2.amazonaws.com/beatcove/assets/images/trashcan.svg'>".html_safe, song_track_path(@song, track), {method: :delete, confirm: 'Are you sure you want to TRASH THIS TRACK BRO? BRO, WHY?'} %>
      </div>
    <% end %>
  <% end %>
</div>
