<div class="song-home">
  <div class="recorder">
    <div class="center">  
      <header>
        <h3 class="song-name"><%= @song.name %></h3>
       </header>  
      <div id="controls">
<!--         <a id="record-button" class="record-button"></a> -->
        <a id="play-button" class="play-button"></a> 
      </div> 
      <div id="progressbar"></div>
      <div class="all-collaborators">
        <p class="standard">colaborators:</p>
        <ul>
        <% @song.users.each do |user| %>
           <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
        </ul>
        <li><%= link_to "new collaborator", new_song_collaborator_path(@song)%></li>
      </div>
    </div>
  </div>
  <% @song.tracks.each do |track| %>
    <div class="track"> 
      <h4 class="username"><%= track.user.username %></h4>
      <img class="avatar" src="http://placekitten.com/60/60" alt="">  
<input name="checkbox_name" id="<%= track.id %>" type="checkbox" data-checked="true" data-url="<%= track.url %>" checked>
      <div class="progress">
        <span class="percent"></span>
        <div class="bar" style= "width: 30%;"></div>
      </div>
    </div>
  <% end %>
</div>
