<!DOCTYPE html>
<html>
<head>
  <title>Beatcove</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/beatcove/assets/images/beatcove.png">
  <link href='http://fonts.googleapis.com/css?family=Wire+One|Josefin+Sans:100' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="nav-bar">
    <header>
      <h1>
        <%= link_to "beatcove", root_path %>
      </h1>
    </header>
    <nav>
      <ul>
        <% if logged_in? %>
          <% current_user  %>
          <li><%= link_to "profile", user_path(@current_user)%></li>
          <li><%= link_to "sign out", session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "login", new_session_path %></li>
          <li><%= link_to "sign up", new_user_path %></li>
        <% end %>
        <li>about</li>
      </ul>
    </nav>
  </div>
  <%= yield %>
</body>
</html>
